[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8"
#flake8-annotations = "~=2.5"
flake8-bugbear = "~=20.1.4"
flake8-import-order = "~=0.18.1"
ipython = "~=7.18.1"
pre-commit = "~=2.7.1"
autopep8 = "~=1.5.4"

[packages]
loguru = "~=0.5.3"
python-dateutil = "~=2.8.1"
"discord.py" = "~=1.6"
discord-ext-menus = {git="https://github.com/Rapptz/discord-ext-menus"}
asyncpg = "~=0.21.0"
sqlalchemy = "==1.4.0b1"
aiohttp = "~=3.7.4"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"

[requires]
python_version = "3.8"
