[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"

[packages]
loguru = "*"
colorama = "*"
python-dateutil = "*"
"discord.py" = "*"
html2text = "*"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"

[requires]
python_version = "3.8"
